CODE_SIGN_IDENTITY =
CODE_SIGN_IDENTITY[sdk=macosx*] = Developer ID Application
CODE_SIGN_IDENTITY[sdk=iphoneos*] = Apple Distribution
CODE_SIGN_IDENTITY[sdk=iphonesimulator*] = iPhone Distribution
CODE_SIGN_STYLE = Manual
DEVELOPMENT_TEAM = 67RAULRX93

SKIP_INSTALL = NO
APPLICATION_EXTENSION_API_ONLY = YES
BUILD_LIBRARY_FOR_DISTRIBUTION = YES

MARKETING_VERSION = 3.1.4000
