CODE_SIGN_IDENTITY= Apple Distribution
CODE_SIGN_IDENTITY[sdk=macosx*] = Developer ID Application
CODE_SIGN_IDENTITY[sdk=iphoneos*] = iPhone Distribution
CODE_SIGN_IDENTITY[sdk=iphonesimulator*] = iPhone Distribution
CODE_SIGN_STYLE = Automatic

SKIP_INSTALL = NO
BUILD_LIBRARY_FOR_DISTRIBUTION = YES

BITCODE_GENERATION_MODE[sdk=iphoneos*] = bitcode
BITCODE_GENERATION_MODE[sdk=iphonesimulator*] = bitcode
BITCODE_GENERATION_MODE[sdk=macosx*] =

HIDE_BITCODE_SYMBOLS = NO
STRIP_BITCODE_FROM_COPIED_FILES = NO
LD_VERIFY_BITCODE = YES
PBXCP_BITCODE_STRIP_MODE = none
PBXCP_STRIP_BITCODE = NO

MARKETING_VERSION = 1.1.1100
